./.venv
.venv
saves/
/saves/
saves
/nbks/saves
/nbks/saves/
/nbks/gifs
/.venv
/.venv/
.venv/
.venv/*

/.wsl-venv
/.wsl-venv/
.wsl-venv/
.wsl-venv/*

/.venv-wsl
/.venv-wsl/
.venv-wsl/
.venv-wsl/*

/parameter_tuning/saves/
/parameter_tuning/saves
/parameter_tuning/saves/*

__pycache__/*
__pycache__
/__pycache__/
